body {
    background-image: url("../images/dark-green-background.jpg");
}

.container .row {
    margin-top: 50px; 
    margin-left: auto; 
    padding-bottom: 0;
    background-color: #EFE7C6;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

.footer {
    padding-top: 19px;
    color: #474747;
    border-top: 1px solid;
}

.fig{
    margin: 0 0 0;
	text-align: center;
}

.goodimage{
    width: 100%;
    border: 1px solid #303030;
}

p:last-of-type{
    margin-bottom: 1.5em;
}

p{
    margin-top: 1.5em;
    color: black;
}

.img_about {
    margin: 0 15px 10px 0;
    width:60%;
    float: left;
    text-align: center;
}

#sertif{
    width: 80%;
}

h4{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 150%;
    color: black;
    font-family: "Georgia";
}

h2{
    color: firebrick;
    font-family: "Times New Roman", serif;
    
}

h3{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 150%;
    color: black;
    font-family: "Georgia";
    font-style: italic;
}

h1{
    margin-left: 40px;
    margin-right: 15px;
    color: black;
    font-family: "Constantia", serif;
}

.numb{
    widows: 20px;
    margin-top: 15px;
}

.but{
    margin-top: 0;
    margin-bottom: 15px;
}

.sum_product{
    width: 45%;
}

.buybutton{
    width: 40%;
    margin-left: 12%;
    background-color:#FF6347;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    color: black;
}

.goodname {
    font-family: serif;
    font-size: 120%;
    color: #5B2121;
    margin-top: 10px;
    margin-bottom: 10px;
}

span {
    color: black;
}

.price {
    font-size: 120%;
    color: #C00D0D;
}

.goodinbucket, .good {
    background-color: bisque;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    margin-bottom: 40px;
    border-top: 2px solid #800000;
    border-bottom: 2px solid #800000;
}

.buyallbutton {
    width: 40%;
    align-content: center;
    background-color: #9EDC97;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    color: black;
}

#buck, .offf {
    margin-top: 30px;
}

.deletebutton {
    width: 40%;
    margin-left: 20px;
    background-color: #DC9797;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    color: black;
}

.bott {
    margin: 0 0 1.5em;
	text-align: center;
}

ul {
    color: black;
}

.empty {
    font-size: 40;
    margin: 1.5em 0 1.5em;
    text-align: center;
    height: 50px;
}

#love {
    text-align: center;
}

#fake {
    text-align: right;
}

#moto{
    font-style: italic;
}